@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
    min-height: 100dvh;
}

body {
    background: rgb(0,175,255);
    background: linear-gradient(
        141deg,
        rgba(0,175,255,1) 0%,
        rgba(9,59,121,1) 0%,
        rgba(0,142,171,1) 100%
    );
}

h1 {
    text-transform: uppercase;
    color: white;
}
